body {
    height: 100vh;
    width: 100vw;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    height: 680px;
    width: 600px;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 10px;
}

.input {
    margin: 20px;

}


.input input {
    height: 40px;
    width: 550px;
    border-radius: 5px;
    margin: 3px;
}

textarea {
    height: 60px;
    width: 550px;
    margin: 3px;


}
/* //payment details */
.box1{
      margin: 20px;;
}
.box1 input{
    margin:10px;
}
#btn button{
        height:40px;
        width: 200px;
        margin-left:180px;
        font-size:20px;
        background-color: aqua;
        border-radius:4px;
      
}
